body {
  background-color: #b4bec8;
}

header {
  background-color: rgb(187, 103, 103);
  height: auto;
  
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 5em;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
  -webkit-text-stroke: 3px maroon;
  -webkit-text-fill-color: white;
}

h2
{
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  text-decoration-line: underline;
  text-align: left;
  padding: 10px;
}

nav {
  background-color: maroon;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-evenly;
  list-style: none;
}

/* nav ul li {
  width: 150px;
  height: 47px;
} */

nav ul li a {
  /* width: 144px; */
  color: #111;
  border:5px inset #0C8F0A;
  padding: 3px 6px;
  border-radius: 10px;
  background-color: #47FF45;
  text-decoration: none;
  font-size: 1.30em;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  
}

nav ul li img {
  /* background-color: aqua; */
}

section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#city-sales section{
  
  width:fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#city-sales section h2{
  
  margin: auto;
}

main {
  width: 960px;
  margin: auto;
}

main img {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

main ul {
  width: 960px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}

.intro section {
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly;
  align-content: center; 
  padding-bottom: 30px;
  flex-wrap: nowrap;
}

.intro section img {
  width: 50%;
}

.intro section div {
  padding: 30px 0px 0px 30px;
}

.intro section div h2 {
  padding-bottom: 15px;
  font-size: 1.5em;
}

.intro section div p{
  height: 300px;
  overflow: auto;
  padding-bottom: 15px;
}

button{
  margin-top: 30px;
  transition: 1000ms;
  width: 180px;
  height: 35px;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
  
}

button:hover{
  background-color: greenyellow;
  color: maroon;
  font-weight: bold;
  font-size: 1.5em;
}



table * {
  font-family: 'Varela Round', sans-serif;
  border: 1px double #020005;
  padding: 8px;
}

th {
  font-weight: bold;
  background-color: #979ca0;
}

td {
  text-align: center;
}


footer {
  /* position: fixed; */
  /* height: 100px; */
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  text-align: right; 
  padding-top: 15px;
  padding-right: 10px;
  background-color: #797d80;
  margin-top: 30px;
}

footer ul {
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly;
  align-content: center; 
  flex-wrap: nowrap;
}

footer ul li {
  text-align: left;
  padding-left: 10px;
  flex: 1;
}