body {
  background-color: #b4bec8;
}

header {
  background-color: #797d80;
  height: 100px;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  background-color: #797d80;
  font-size: 3em;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

/* h2
{
  text-align: center;
  width:auto;
} */

section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#city-sales section{
  
  width:fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#city-sales section h2{
  
  margin: auto;
}

ul {
  font-size: 1.75em;
  font-family: 'Varela Round', sans-serif;
  /* list-style-type: ; */
  list-style-image: url('/img/cookie.png');
  list-style-position: inside;
  margin-bottom: 15px;
}

li {
  font-family: 'Varela Round', sans-serif;
  font-size: .75em;
  margin-top: 15px;

}

img {
  margin-bottom: 30px;
}

/* table * {
  font-family: 'Archivo', sans-serif;
  background-color: #797d80;
  border: 1px double #020005;
  padding: 8px;
} */

/* th {
  font-weight:900;
}

td {
  text-align: center;
} */


footer {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5em;
  padding-top: 15px;
  text-align: right;
  padding-right: 10px;
  height: 100px;
  background-color: #797d80;
  margin-top: 30px;
}